<div class="download-card row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <md-toolbar color="primary">

            DOWNLOAD

        </md-toolbar>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <md-card>

            <md-card-content>

                <md-input-container class="download-input">

                    <input mdInput placeholder="SYSTEM" [(ngModel)]="details.system">

                </md-input-container>

                <md-input-container class="download-input">

                    <input mdInput placeholder="URL" [(ngModel)]="details.url">

                </md-input-container>

                <md-select class="download-select" placeholder="FILE FORMAT" [(ngModel)]="details.fileFormat">

                    <md-option *ngFor="let option of formatOptions" [value]="option">

                        {{option}}

                    </md-option>

                </md-select>

            </md-card-content>

            <md-card-actions class="text-right">

                <button md-button color="primary" (click)="onDownload(details)">OK</button>

            </md-card-actions>

        </md-card>

    </div>

</div>