<div class="download-card row">

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-toolbar color="primary">

            Download

        </mat-toolbar>

    </div>

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-card>

            <mat-card-content>

                <mat-form-field class="download-input">

                    <input matInput placeholder="System" [(ngModel)]="details.system">

                </mat-form-field>

                <mat-form-field class="download-input">

                    <input matInput placeholder="Url" [(ngModel)]="details.url">

                </mat-form-field>

                <mat-form-field class="download-select">

                    <mat-select placeholder="File Format" [(ngModel)]="details.fileFormat">
    
                        <mat-option *ngFor="let option of formatOptions" [value]="option">
    
                            {{option}}
    
                        </mat-option>
    
                    </mat-select>

                </mat-form-field>

            </mat-card-content>

            <mat-card-actions class="text-right">

                <button mat-button color="primary" (click)="onDownload(details)">OK</button>

            </mat-card-actions>

        </mat-card>

    </div>

</div>