<div class="files-card row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <br>

        <md-toolbar color="primary">

            <span mdTooltip="refresh" mdTooltipPosition="above">

                <button md-icon-button (click)="onRefresh()">

                    <md-icon>refresh</md-icon>

                </button>

            </span>

            <span mdTooltip="home directory" mdTooltipPosition="above">

                <button md-icon-button (click)="onHome()">

                    <md-icon>home</md-icon>

                </button>

            </span>

            <span mdTooltip="previous directory" mdTooltipPosition="above">

                <button md-icon-button (click)="onPrevious()" [disabled]="currentSystemStack.length < 1">

                    <md-icon>reply</md-icon>

                </button>

            </span>

        </md-toolbar>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <md-progress-bar color="primary" value="0" mode="indeterminate" bufferValue="0" *ngIf="asyncLoading"></md-progress-bar>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="add-button-container pull-right">

            <button md-raised-button color="primary" (click)="onOpenDialog()">

                <md-icon>add</md-icon> Add

            </button>

        </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="loading">

        <app-loader loading="true"></app-loader>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!loading">

        <md-nav-list *ngIf="currentSystem">

            <md-list-item *ngFor="let entry of currentSystemEntries" (click)="onEntry(entry)">

                <md-icon md-list-avatar class="system-button" *ngIf="currentSystemStack.length == 0">device_hub</md-icon>

                <md-icon md-list-avatar class="directory-button" *ngIf="entry.type === 'directory' && currentSystemStack.length > 0">folder</md-icon>

                <md-icon md-list-avatar class="file-button" *ngIf="entry.type === 'file'">insert_drive_file</md-icon>

                <h4 md-line>{{entry.name}}</h4>

                <p md-line>{{entry.path}}</p>

                <button md-icon-button *ngIf="entry.type === 'file'" (click)="onAdd(entry)">

                    <md-icon>playlist_add</md-icon>

                </button>

                <div mdTooltip="disconnect" mdTooltipPosition="above">

                    <button md-icon-button *ngIf="currentSystemStack.length === 0" (click)="onSystemDisconect(entry)">

                        <md-icon color="warn">do_not_disturb</md-icon>

                    </button>

                </div>

            </md-list-item>

        </md-nav-list>

    </div>

</div>