<div class="files-card row">

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <br>

        <mat-toolbar color="primary">

            <span matTooltip="refresh" matTooltipPosition="above">

                <button mat-icon-button (click)="onRefresh()">

                    <mat-icon>refresh</mat-icon>

                </button>

            </span>

            <span matTooltip="home directory" matTooltipPosition="above">

                <button mat-icon-button (click)="onHome()">

                    <mat-icon>home</mat-icon>

                </button>

            </span>

            <span matTooltip="previous directory" matTooltipPosition="above">

                <button mat-icon-button (click)="onPrevious()" [disabled]="currentSystemStack.length < 1">

                    <mat-icon>reply</mat-icon>

                </button>

            </span>

        </mat-toolbar>

    </div>    

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-card>
           
            <app-loader [loading]="loading"></app-loader>

            <mat-card-content *ngIf="!loading">

                <p class="text-center" [hidden]="currentSystemEntries.length > 0">

                    No entries found...

                </p>

                <mat-nav-list *ngFor="let entry of currentSystemEntries">

                    <mat-list-item (click)="onEntry(entry)">

                        <mat-icon mat-list-avatar class="system-button" *ngIf="currentSystemStack.length == 0">settings_system_daydream</mat-icon>

                        <mat-icon mat-list-avatar class="directory-button" *ngIf="entry.type === 'directory' && currentSystemStack.length > 0">folder</mat-icon>

                        <mat-icon mat-list-avatar class="file-button" *ngIf="entry.type === 'file'">insert_drive_file</mat-icon>

                        <h4 mat-line>{{entry.name}}</h4>

                        <p mat-line>{{entry.path}}</p>

                        <button mat-icon-button *ngIf="entry.type === 'file'" (click)="onAdd(entry)">

                            <mat-icon>playlist_add</mat-icon>

                        </button>

                        <div matTooltip="disconnect" matTooltipPosition="above">

                            <button mat-icon-button *ngIf="currentSystemStack.length === 0" (click)="onDisconect(entry)">

                                <mat-icon color="warn">do_not_disturb</mat-icon>

                            </button>

                        </div>

                    </mat-list-item>

                </mat-nav-list>

            </mat-card-content>

        </mat-card>

    </div>

</div>