<mat-card class="player-card">

    <div class="row">

        <div class="col-lg-6 col-mat-6 col-sm-6 col-xs-12 player-actions">

            <span matTooltip="Play" matTooltipPosition="above">

                <button mat-icon-button (click)="onPlay()" *ngIf="info.state === 'paused' || info.state === 'stoped' || info.state === 'init'">
                    
                    <mat-icon>play_arrow</mat-icon>
                    
                </button>

            </span>

            <span matTooltip="Pause" matTooltipPosition="above">

                <button mat-icon-button (click)="onPause()" *ngIf="info.state === 'playing'">
                    
                    <mat-icon>pause</mat-icon>
                    
                </button>

            </span>

            <span matTooltip="Stop" matTooltipPosition="above">

                <button mat-icon-button (click)="onStop()">
                
                    <mat-icon color="warn">stops</mat-icon>

                </button>

            </span>

            <span matTooltip="Previous" matTooltipPosition="above">

                <button mat-icon-button (click)="onPrevious()">
                    
                    <mat-icon>skip_previous</mat-icon>
                    
                </button>  
                
            </span>

            <span matTooltip="Next" matTooltipPosition="above">  

                <button mat-icon-button (click)="onNext()">
                    
                    <mat-icon>skip_next</mat-icon>
                    
                </button>

            </span>

        </div>

        <div class="col-lg-6 col-mat-6 col-sm-6 col-xs-12">

            <div class="player-volume">

                <mat-slider class="volume-margin" min="0" max="100" step="1" thumb-label="true" [ngModel]="info.volume" (ngModelChange)="onVolume($event)"></mat-slider>

            </div>

        </div>

        <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

            <div class="row">

                <div class="col-lg-6 col-mat-6 col-sm-6 col-xs-12">

                    <div class="track-name">

                        <small *ngIf="info.track">{{info.track.name}}</small>

                    </div>

                </div>

                <div class="col-lg-6 col-mat-6 col-sm-6 col-xs-12 text-right">

                    <div class="track-time">

                        <small *ngIf="info.track">{{info.currentTimeStr}} / {{info.timeStr}}</small>

                    </div>

                </div>

                <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

                    <mat-progress-bar color="primary" [value]="progressValue" [mode]="progressMode" [bufferValue]="progressBuffer"></mat-progress-bar>

                </div>

            </div>

        </div>

    </div>

</mat-card>