<div class="playlist-card row">

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-toolbar color="primary">

            <span matTooltip="refresh" matTooltipPosition="above">

                <button mat-icon-button (click)="onRefresh()">
                
                    <mat-icon>refresh</mat-icon>
                
                </button>

            </span>

            <span matTooltip="play all tracks" matTooltipPosition="above">

                <button mat-icon-button (click)="onPlaylistPlay()">

                    <mat-icon>playlist_play</mat-icon>

                </button>

            </span>

        </mat-toolbar>

    </div>

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-card>

            <app-loader [loading]="loading"></app-loader>

            <mat-card-content *ngIf="!loading">

                <p class="text-center" [hidden]="playlist.length > 0">

                    No entries found...

                </p>

                <mat-nav-list *ngFor="let entry of playlist">

                    <mat-list-item (click)="onPlayNow(entry)">

                        <mat-icon mat-list-avatar class="file-button">insert_drive_file</mat-icon>

                        <h4 mat-line>{{entry.name}}</h4>

                        <p mat-line>{{entry.path}}</p>

                        <span matTooltip="remove" matTooltipPosition="above">

                            <button mat-icon-button (click)="onRemove(entry)">

                                <mat-icon color="warn">delete</mat-icon>

                            </button>

                        </span>

                    </mat-list-item>

                </mat-nav-list>

            </mat-card-content>

        </mat-card>

    </div>

</div>