<div class="playlist-card row">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <md-toolbar color="primary">

      <span mdTooltip="refresh playlist" mdTooltipPosition="above">

        <button md-icon-button type="button" (click)="onPlaylist()">
          
          <md-icon>cached</md-icon>
          
        </button>

      </span>

      <span mdTooltip="play all tracks" mdTooltipPosition="above">

        <button md-icon-button>

          <md-icon>playlist_play</md-icon>

        </button>

      </span>

    </md-toolbar>

  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <md-nav-list *ngFor="let entry of playlist">

      <md-list-item>

        <md-icon md-list-avatar class="file-button">insert_drive_file</md-icon>

        <h4 md-line>{{entry.name}}</h4>

        <p md-line>{{entry.path}}</p>

        <span mdTooltip="play now" mdTooltipPosition="above">

          <button md-icon-button (click)="onPlayNow(entry)">

            <md-icon color="primary">play_arrow</md-icon>

          </button>

        </span>

        <span mdTooltip="remove" mdTooltipPosition="above">

          <button md-icon-button (click)="onRemove(entry)">

            <md-icon color="warn">delete</md-icon>

          </button>

        </span>

      </md-list-item>

    </md-nav-list>

  </div>

</div>