<md-card class="player-card">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 player-actions">

            <span mdTooltip="Play" mdTooltipPosition="above">

                <button md-icon-button (click)="onPlay()" *ngIf="info.state === 'paused' || info.state === 'stoped' || info.state === 'init'">
                    
                    <md-icon>play_arrow</md-icon>
                    
                </button>

            </span>

            <span mdTooltip="Pause" mdTooltipPosition="above">

                <button md-icon-button (click)="onPause()" *ngIf="info.state === 'playing'">
                    
                    <md-icon>pause</md-icon>
                    
                </button>

            </span>

            <span mdTooltip="Stop" mdTooltipPosition="above">

                <button md-icon-button (click)="onStop()">
                
                    <md-icon color="warn">stops</md-icon>

                </button>

            </span>

            <span mdTooltip="Previous" mdTooltipPosition="above">

                <button md-icon-button (click)="onPrevious()">
                    
                    <md-icon>skip_previous</md-icon>
                    
                </button>  
                
            </span>

            <span mdTooltip="Next" mdTooltipPosition="above">  

                <button md-icon-button (click)="onNext()">
                    
                    <md-icon>skip_next</md-icon>
                    
                </button>

            </span>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="player-volume">

                <md-slider class="volume-margin" min="0" max="100" step="1" thumb-label="true" [ngModel]="info.volume" (ngModelChange)="onVolume($event)"></md-slider>                

            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">

                    <small *ngIf="info.track">{{info.track.name}}</small>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <md-progress-bar color="primary" [value]="progressValue" [mode]="progressMode" [bufferValue]="progressBuffer"></md-progress-bar>

                </div>

            </div>

        </div>

    </div>

</md-card>