.player-card {
    min-height: 150px;
}

.player-volume {
    text-align: right;
}

.volume-margin {
    margin: 0 10px;
}

.track-name {
    text-align: left;
}

.track-time {
    text-align: right;
}

@media(max-width: 769px) {
    .player-card {
        height: 180px;
    }
    .player-actions {
        text-align: center;
    }
    .player-volume {
        text-align: center;
    }
    .track-name {
        text-align: center;
    }
    .track-time {
        text-align: center;
    }
}