<div [class.app-dark]="settings.darkTheme">

    <app-top-bar [sidenav]="sidenav"></app-top-bar>

    <md-sidenav-container>

        <md-sidenav #sidenav class="sidenav" [mode]="settings.sidenavMode">

            <md-nav-list class="sidenav-list">

                <md-list-item (click)="onSidenavItemClick('/playlist')">

                    <md-icon md-list-icon>album</md-icon>
                    <h4 md-line>Playlist</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/files')">

                    <md-icon md-list-icon>insert_drive_file</md-icon>
                    <h4 md-line>Files</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/settings')">

                    <md-icon md-list-icon>settings</md-icon>
                    <h4 md-line>Settings</h4>

                </md-list-item>

            </md-nav-list>

        </md-sidenav>

        <div class="wrapper container audiohub">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <app-player></app-player>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <br>

                    <div class="add-button-container pull-right">

                        <button md-button color="primary" (click)="onOpenDialog()" *ngIf="!addDialogShow">

                            <md-icon>expand_more</md-icon>

                        </button>

                        <button md-button color="primary" (click)="onCloseDialog()" *ngIf="addDialogShow">

                            <md-icon>expand_less</md-icon>

                        </button>

                        <md-progress-bar class="add-progress" color="primary" value="0" mode="indeterminate" bufferValue="0" *ngIf="addDialogLoading"></md-progress-bar>

                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="addDialogShow">

                    <br>

                    <app-add-dialog (complete)="onDialogComplete($event)"></app-add-dialog>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 children-components">

                    <router-outlet></router-outlet>

                </div>

            </div>

        </div>

    </md-sidenav-container>

</div>