<div [class.app-dark]="settings.dark_theme" [class.app-light]="!settings.dark_theme">

    <app-top-bar [sidenav]="sidenav"></app-top-bar>

    <mat-sidenav-container>

        <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" [mode]="settings.sidenav_mode">

            <mat-nav-list class="sidenav-list">

                <mat-list-item (click)="onSidenavItemClick('/playlist')">

                    <mat-icon>album</mat-icon>
                    <span mat-line>Playlist</span>

                </mat-list-item>

                <mat-list-item (click)="onSidenavItemClick('/files')">

                    <mat-icon>insert_drive_file</mat-icon>
                    <span mat-line>Files</span>

                </mat-list-item>

                <mat-list-item (click)="onSidenavItemClick('/stream')">

                    <mat-icon>airplay</mat-icon>
                    <span mat-line>Streams</span>

                </mat-list-item>

                <mat-list-item (click)="onSidenavItemClick('/systems')">

                    <mat-icon>settings_system_daydream</mat-icon>
                    <span mat-line>Systems</span>

                </mat-list-item>

                <mat-list-item (click)="onSidenavItemClick('/download')">

                    <mat-icon>file_download</mat-icon>
                    <span mat-line>Download</span>

                </mat-list-item>

                <mat-list-item (click)="onSidenavItemClick('/settings')">

                    <mat-icon>settings</mat-icon>
                    <span mat-line>Settings</span>

                </mat-list-item>

            </mat-nav-list>

        </mat-sidenav>

        <div class="wrapper container audiohub">

            <div class="row">

                <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

                    <app-player></app-player>

                </div>

                <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12 children-components">

                    <router-outlet></router-outlet>

                </div>

            </div>

        </div>

    </mat-sidenav-container>

</div>