<div [class.app-light]="!settings.dark_theme">
    
    <app-page-loader></app-page-loader>

    <app-top-bar [sidenav]="sidenav"></app-top-bar>

    <md-sidenav-container>

        <md-sidenav #sidenav class="sidenav" [mode]="settings.sidenav_mode">

            <md-nav-list class="sidenav-list">

                <md-list-item (click)="onSidenavItemClick('/playlist')">

                    <md-icon>album</md-icon>
                    <h4 md-line>Playlist</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/files')">

                    <md-icon>insert_drive_file</md-icon>
                    <h4 md-line>Files</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/stream')">

                    <md-icon>airplay</md-icon>
                    <h4 md-line>Streams</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/systems')">

                    <md-icon>settings_system_daydream</md-icon>
                    <h4 md-line>Systems</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/download')">

                    <md-icon>file_download</md-icon>
                    <h4 md-line>Download</h4>

                </md-list-item>

                <md-list-item (click)="onSidenavItemClick('/settings')">

                    <md-icon>settings</md-icon>
                    <h4 md-line>Settings</h4>

                </md-list-item>

            </md-nav-list>

        </md-sidenav>

        <div class="wrapper container audiohub">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <app-player></app-player>

                </div>                

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 children-components">

                    <router-outlet></router-outlet>

                </div>

            </div>

        </div>

    </md-sidenav-container>

</div>