.audiohub {
    padding-top: 30px;
    height: 100vh;
}

.sidenav {
    width: 250px;
}

.sidenav .sidenav-list {
    padding-top: 0;
}

.children-components {
    padding-top: 15px;
}

.add-progress {
    padding-left: 1px;
    width: 87px;
}

@media(max-width: 450px) {
    .sidenav {
        width: 100%;
    }
}