# PYcache
**/__pycache__/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# sqlite3 Database Files
*.db

# Virtualenv
venv/*

# Mplayer
mplayer/*

# Exclude any executables
**/*.exe
