<div class="systems-card row">

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-toolbar color="primary">

            Systems

        </mat-toolbar>

    </div>

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-card>

            <mat-card-content>

                <mat-tab-group #tabGroup>

                    <mat-tab label="Mount">

                        <br>

                        <mat-form-field class="systems-card-input">

                            <input matInput placeholder="IP Address" [(ngModel)]="mountFolder.ip">

                        </mat-form-field>

                        <mat-form-field class="systems-card-input">

                            <input matInput placeholder="Volume" [(ngModel)]="mountFolder.volume">

                        </mat-form-field>

                        <mat-form-field class="systems-card-input">

                            <input matInput placeholder="Username" [(ngModel)]="mountFolder.user">

                        </mat-form-field>

                        <mat-form-field class="systems-card-input">

                            <input matInput placeholder="Password" type="password" [(ngModel)]="mountFolder.password">

                        </mat-form-field>

                    </mat-tab>

                    <mat-tab label="Local">

                        <br>

                        <mat-form-field class="systems-card-input">

                            <input matInput placeholder="Name" [(ngModel)]="folder.name">

                        </mat-form-field>

                        <mat-form-field class="systems-card-input">

                            <input matInput placeholder="Path" [(ngModel)]="folder.path">

                        </mat-form-field>

                    </mat-tab>

                </mat-tab-group>

            </mat-card-content>

            <mat-card-actions class="text-right">

                <button mat-button color="primary" (click)="onComplete(tabGroup.selectedIndex)">Ok</button>

            </mat-card-actions>

        </mat-card>

    </div>

</div>