<div class="systems-card row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <md-toolbar color="primary">

            Systems

        </md-toolbar>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <md-card>

            <md-card-content>

                <md-tab-group #tabGroup>

                    <md-tab label="Mount">

                        <br>

                        <md-form-field class="systems-card-input">

                            <input mdInput placeholder="IP Address" [(ngModel)]="mountFolder.ip">

                        </md-form-field>

                        <md-form-field class="systems-card-input">

                            <input mdInput placeholder="Volume" [(ngModel)]="mountFolder.volume">

                        </md-form-field>

                        <md-form-field class="systems-card-input">

                            <input mdInput placeholder="Username" [(ngModel)]="mountFolder.user">

                        </md-form-field>

                        <md-form-field class="systems-card-input">

                            <input mdInput placeholder="Password" type="password" [(ngModel)]="mountFolder.password">

                        </md-form-field>

                    </md-tab>

                    <md-tab label="Local">

                        <br>

                        <md-form-field class="systems-card-input">

                            <input mdInput placeholder="Name" [(ngModel)]="folder.name">

                        </md-form-field>

                        <md-form-field class="systems-card-input">

                            <input mdInput placeholder="Path" [(ngModel)]="folder.path">

                        </md-form-field>

                    </md-tab>

                </md-tab-group>

            </md-card-content>

            <md-card-actions class="text-right">

                <button md-button color="primary" (click)="onComplete(tabGroup.selectedIndex)">Ok</button>

            </md-card-actions>

        </md-card>

    </div>

</div>