<div class="row">

    <br>

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-toolbar color="primary">

            Settings

        </mat-toolbar>

    </div>

    <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12">

        <mat-card>

            <mat-card-content>

                <mat-slide-toggle [(ngModel)]="settings.dark_theme" (change)="onChange()">Dark Theme</mat-slide-toggle>

                <mat-form-field class="settings-select">

                    <mat-select placeholder="Menu Animation Mode" [(ngModel)]="settings.sidenav_mode" (change)="onChange()">
    
                        <mat-option value="over">
    
                            over
    
                        </mat-option>
    
                        <mat-option value="side">
    
                            side
    
                        </mat-option>
    
                        <mat-option value="push">
    
                            push
    
                        </mat-option>
    
                    </mat-select>

                </mat-form-field>

            </mat-card-content>

            <br>

        </mat-card>

    </div>

</div>