<div class="row">

    <br>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <md-toolbar color="primary">

            Settings

        </md-toolbar>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

        <md-slide-toggle [checked]="darkThemeToggle">Dark Theme</md-slide-toggle>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <button md-raised-button color="accent" class="pull-right">

            Save

        </button>

    </div>

</div>