<md-card>

    <md-card-content>

        <md-tab-group #tabGroup class="add-folder-dialog">

            <md-tab label="Mount">

                <br>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="IP Address" [(ngModel)]="mountFolder.ip">

                </md-input-container>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="Volume" [(ngModel)]="mountFolder.volume">

                </md-input-container>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="Username" [(ngModel)]="mountFolder.user">

                </md-input-container>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="Password" type="password" [(ngModel)]="mountFolder.password">

                </md-input-container>

            </md-tab>

            <md-tab label="Local">

                <br>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="Name" [(ngModel)]="folder.name">

                </md-input-container>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="Path" [(ngModel)]="folder.path">

                </md-input-container>

            </md-tab>


            <md-tab label="Download">

                <br>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="System" [(ngModel)]="downloadDetails.system">

                </md-input-container>

                <md-input-container class="dialog-input">

                    <input mdInput placeholder="Url" [(ngModel)]="downloadDetails.url">

                </md-input-container>

                <md-select class="dialog-select" placeholder="File Format" [(ngModel)]="downloadDetails.fileFormat">

                    <md-option *ngFor="let option of fileFormatOptions" [value]="option">

                        {{option}}

                    </md-option>

                </md-select>

                <!--<md-radio-group [(ngModel)]="downloadDetails.fileFormat">

                    <md-radio-button class="radion-button" *ngFor="let option of fileFormatOptions" [value]="option">{{option}}</md-radio-button>

                </md-radio-group>-->

            </md-tab>

        </md-tab-group>

    </md-card-content>

    <md-card-actions>

        <button md-button color="primary" (click)="onComplete()">Ok</button>

    </md-card-actions>

</md-card>
