.add-folder-dialog {
    /*max-width: 600px;*/
    max-height: 320px;
    /*width: 600px;*/
    height: 320px;
}

.add-folder-dialog .dialog-input {
    width: 100%;
}

.add-folder-dialog .dialog-select {
    width: 100%;
    padding-top: 15px;
}
