.add-folder-dialog {
    /*max-width: 600px;*/
    max-height: 310px;
    /*width: 600px;*/
    height: 310px;
}

.add-folder-dialog .dialog-input {
    width: 100%;
}

.add-folder-dialog .dialog-select {
    width: 100%;
    padding-top: 15px;
}

.radio-group {
  /*display: inline-flex;*/
  /*flex-direction: column;*/
}

.radio-button {
  margin: 5px;
}
